// colors
$color_list: gray, blue, green, red, orange, amber, yellow, cyan, teal, violet, pink, purple,
	white-overlay, black-overlay;

$gray-50: #f8f8f8;
$gray-100: #f3f3f3;
$gray-200: #ededed;
$gray-300: #e2e2e2;
$gray-400: #c7c7c7;
$gray-500: #999999;
$gray-600: #7c7c7c;
$gray-700: #525252;
$gray-800: #383838;
$gray-900: #171717;

$primary: $gray-900;
$primary-light: lighten($primary, 80%) !default;

$danger: #e03636;
$light-yellow: #fef4e2;

:root {
	--neutral-white: #ffffff;
	--neutral-black: #000000;
	--neutral: var(--neutral-white);
	--invert-neutral: var(--neutral-black);

	--gray-50: #f8f8f8;
	--gray-100: #f3f3f3;
	--gray-200: #ededed;
	--gray-300: #e2e2e2;
	--gray-400: #c7c7c7;
	--gray-500: #999999;
	--gray-600: #7c7c7c;
	--gray-700: #525252;
	--gray-800: #383838;
	--gray-900: #171717;

	--blue-50: #f7fbfd;
	--blue-100: #edf6fd;
	--blue-200: #e3f1fd;
	--blue-300: #c9e7fc;
	--blue-400: #70b6f0;
	--blue-500: #0289f7;
	--blue-600: #007be0;
	--blue-700: #0070cc;
	--blue-800: #005ca3;
	--blue-900: #004880;

	--green-50: #f3fcf5;
	--green-100: #e4f5e9;
	--green-200: #daf0e1;
	--green-300: #cae5d4;
	--green-400: #b6dec5;
	--green-500: #59ba8b;
	--green-600: #30a66d;
	--green-700: #278f5e;
	--green-800: #16794c;
	--green-900: #173b2c;

	--red-50: #fff7f7;
	--red-100: #fff0f0;
	--red-200: #fcd7d7;
	--red-300: #f9c6c6;
	--red-400: #eb9091;
	--red-500: #e03636;
	--red-600: #cc2929;
	--red-700: #b52a2a;
	--red-800: #941f1f;
	--red-900: #6b1515;

	--orange-50: #fff9f5;
	--orange-100: #fff1e7;
	--orange-200: #fce6d5;
	--orange-300: #f7d6bd;
	--orange-400: #f0b58b;
	--orange-500: #e86c13;
	--orange-600: #d45a08;
	--orange-700: #bd3e0c;
	--orange-800: #9e3513;
	--orange-900: #6b2711;

	--amber-50: #fdfaed;
	--amber-100: #fcf3cf;
	--amber-200: #f7e28d;
	--amber-300: #f5d261;
	--amber-400: #f2be3a;
	--amber-500: #e79913;
	--amber-600: #db7706;
	--amber-700: #b35309;
	--amber-800: #91400d;
	--amber-900: #763813;

	--yellow-50: #fffcef;
	--yellow-100: #fff7d3;
	--yellow-200: #f7e9a8;
	--yellow-300: #f5e171;
	--yellow-400: #f2d14b;
	--yellow-500: #edba13;
	--yellow-600: #d1930d;
	--yellow-700: #ab6e05;
	--yellow-800: #8c5600;
	--yellow-900: #733f12;

	--cyan-50: #f5fbfc;
	--cyan-100: #e0f8ff;
	--cyan-200: #b3ecfc;
	--cyan-300: #94e6ff;
	--cyan-400: #6bd3f2;
	--cyan-500: #34bae3;
	--cyan-600: #32a4c7;
	--cyan-700: #267a94;
	--cyan-800: #125c73;
	--cyan-900: #164759;

	--teal-50: #f0fdfa;
	--teal-100: #e6f7f4;
	--teal-200: #bae8e1;
	--teal-300: #97ded4;
	--teal-400: #73d1c4;
	--teal-500: #36baad;
	--teal-600: #0b9e92;
	--teal-700: #0f736b;
	--teal-800: #115c57;
	--teal-900: #114541;

	--violet-50: #fbfaff;
	--violet-100: #f5f2ff;
	--violet-200: #e5e1fa;
	--violet-300: #dad2f7;
	--violet-400: #bdb1f0;
	--violet-500: #6846e3;
	--violet-600: #5f46c7;
	--violet-700: #4f3da1;
	--violet-800: #392980;
	--violet-900: #251959;
	/*traquent color*///traquent.v1.sevval//
	--traquent-lavender-blue-0: #EBF1FF;
	--traquent-lavender-blue-25: #D5E2FF;
	--traquent-lavender-blue-50: #C0D5FF;
	--traquent-lavender-blue-100: #97BAFF;
	--traquent-lavender-blue-200: #6895FF;
	--traquent-lavender-blue-300: #335CFF;
	--traquent-lavender-blue-400: #2547D0;
	--traquent-lavender-blue-500: #1F3BAD;
	--traquent-lavender-blue-600: #182F8B;
	--traquent-lavender-blue-700: #122368;
	--traquent-lavender-blue-800: #0C183D; /*primary_color*/
	--traquent-lavender-blue-900: #000005F2;

	--traquent-secondary-red-25: #FADBE1;
	--traquent-secondary-red-100: #DF1C41;
	--traquent-secondary-red-200: #96132C;
	--traquent-secondary-red-300: #710E21;
	--traquent-accent-aqua-25: #D1F0FA;
	--traquent-accent-aqua-300: #0C4E6E;
	--traquent-secondary-yellow-25: #FAEDCC;
	--traquent-secondary-yellow-300: #5C3D1F;
	--traquent-secondary-green-25: #DDF3EF;
	--traquent-secondary-green-300: #184E44;

	--traquent-icon-white: #FFFFFF;
	--traquent-icon-disabled-300: #A4ACB9;
	--traquent-icon-subdued-400: #818898;
	--traquent-icon-normal-500: #666D80;
	--traquent-icon-muted-600: #36394A;
	--traquent-icon-loud-900: #0D0D12;

	--traquent-text-white: #FFFFFF;
	--traquent-text-disabled-300: #A4ACB9;
	--traquent-text-subdued-400: #818898;
	--traquent-text-normal-500: #666D80;
	--traquent-text-muted-600: #36394A;
	--traquent-text-loud-900: #0D0D12;

	--traquent-background-white: #FFFFFF;
	--traquent-background-disabled-0: #F8FAFB;
	--traquent-background-normal-25: #F5F7FA;
	--traquent-background-hover-50: #ECEFF3;
	--traquent-background-pressed-100: #DFE1E7;
	--traquent-background-loud-900: #0D0D12;
	--traquent-background-dark: #181B25;
	--traquent-dark-background: #1A1F2A;
	--traquent-dark-bg: #0E121B;
	--traquent-dark-border: #2B303B;
	--traquent-navbar-color:#0D111D;
	--traquent-dark-hover: #212735;
	--traquent-dark-solid: #373A41;
	--traquent-light-solid: #e0e1e7;
	--traquent-dark-disabled: #2C313F;
	--traquent-dark-checkbox: #171B26;
	--traquent-dark-checkbox-disabled: #343947;
	--traquent-input-label: #CECFD2;

	--traquent-border-white: #FFFFFF;
	--traquent-border-disabled-25: #F6F8FA;
	--traquent-border-normal-50: #ECEFF3;
	--traquent-border-hover-100: #DFE1E7;
	--traquent-border-pressed-200: #C1C7D0;
	--stroke-soft: #E2E4E9;
	--stroke-soft-dark: #3A4254;

	--traquent-neutral-solid-0: #F8FAFB;
	--traquent-neutral-solid-25: #F6F8FA;
	--traquent-neutral-solid-50: #ECEFF3;
	--traquent-neutral-solid-100: #DFE1E7;
	--traquent-neutral-solid-200: #C1C7D0;
	--traquent-neutral-solid-300: #A4ACB9;
	--traquent-neutral-solid-400: #818898;
	--traquent-neutral-solid-500: #666D80;
	--traquent-neutral-solid-600: #36394A;
	--traquent-neutral-solid-700: #272835;
	--traquent-neutral-solid-800: #1A1B25;
	--traquent-neutral-solid-900: #0D0D12;

	--traquent-neutral-alpha-0: rgba(22, 88, 121, 0.03);
	--traquent-neutral-alpha-25:  rgba(29, 79, 129, 0.04);
	--traquent-neutral-alpha-50:  rgba(18, 55, 105, 0.08);
	--traquent-neutral-alpha-100: rgba(9, 25, 72, 0.13);
	--traquent-neutral-alpha-200: rgba(7, 32, 69, 0.25);
	--traquent-neutral-alpha-300: rgba(2, 23, 59, 0.36);
	--traquent-neutral-alpha-400: rgba(3, 16, 48, 0.5);
	--traquent-neutral-alpha-500: rgba(0, 12, 41, 0.6);
	--traquent-neutral-alpha-600: rgba(1, 4, 25, 0.79);
	--traquent-neutral-alpha-700: rgba(1, 2, 19, 0.85);
	--traquent-neutral-alpha-800: rgba(1, 2, 14, 0.9);
	--traquent-neutral-alpha-900: rgba(0, 0, 5, 0.95);

	--traquent-divider-color: #12376914;//traquent.v1.sevval//

	--traquent-alert-yellow: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
	linear-gradient(0deg, rgba(255, 205, 76, 0.05), rgba(255, 205, 76, 0.05));
	--traquent-alert-yellow-boxshadow: 0px 0px 0px 1px rgba(255, 102, 52, 0.24), 0px 1px 2px 0px rgba(255, 102, 52, 0.12), 0px 12px 24px -12px rgba(255, 102, 52, 0.2);
	--traquent-alert-red: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
	linear-gradient(0deg, rgba(223, 28, 65, 0.02), rgba(223, 28, 65, 0.02));
	--traquent-alert-red-boxshadow: 0px 0px 0px 1px rgba(223, 28, 65, 0.16), 0px 1px 2px 0px rgba(150, 19, 44, 0.12), 0px 12px 24px -12px rgba(150, 19, 44, 0.24);
	--traquent-alert-green: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
	linear-gradient(0deg, rgba(64, 196, 170, 0.05), rgba(64, 196, 170, 0.05));
	--traquent-alert-green-boxshadow: 0px 0px 0px 1px rgba(64, 196, 170, 0.28), 0px 1px 2px 0px rgba(64, 196, 170, 0.16), 0px 12px 24px -12px rgba(24, 78, 68, 0.24);
	--traquent-alert-blue: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
	linear-gradient(0deg, rgba(95, 87, 255, 0.04), rgba(95, 87, 255, 0.04));
	--traquent-alert-blue-boxshadow: 0px 0px 0px 1px rgba(126, 67, 255, 0.2), 0px 1px 2px 0px rgba(126, 67, 255, 0.12), 0px 12px 24px -12px rgba(54, 29, 109, 0.24);
	--traquent-dark-mode-white: rgba(255, 255, 255, 0.95);
	--traquent-dark-mode-white-boxshadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.04), 0px 1px 2px 0px rgba(164, 172, 185, 0.12), 0px 12px 24px -12px rgba(54, 57, 74, 0.12);
	--traquent-dark-mode-grey: rgba(142, 145, 158, 0.95);
	--traquent-dark-mode-grey-boxshadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.04), 0px 1px 2px 0px rgba(164, 172, 185, 0.12), 0px 12px 24px -12px rgba(54, 57, 74, 0.12);
	--traquent-flag-color: #FF6634;

	/****************/
/*#UPDATES --sevval*/
	--custom-50:  #e5e5f2;
	--custom-100: #c7c6e5;
	--custom-200: #a2a1d1;
	--custom-300: #7e7dbd;
	--custom-400: #6361aa;
	--custom-500: #0C0B35;  /* Ana renk */
	--custom-600: #0a0930;
	--custom-700: #080729;
	--custom-800: #060521;
	--custom-900: #040317;

	--custom-orange-50:  #fff4f0;
	--custom-orange-100: #ffe5da;
	--custom-orange-200: #ffc2b0;
	--custom-orange-300: #ff9d80;
	--custom-orange-400: #ff7b57;
	--custom-orange-500: #ff6634;  /* Ana renk */
	--custom-orange-600: #e05c2f;
	--custom-orange-700: #b84d27;
	--custom-orange-800: #8f3c1e;
	--custom-orange-900: #6f3017;
/**/
	--pink-50: #fff7fc;
	--pink-100: #feeef8;
	--pink-200: #f8e2f0;
	--pink-300: #f2d4e6;
	--pink-400: #e9c4da;
	--pink-500: #e34aa6;
	--pink-600: #cf3a96;
	--pink-700: #9c2671;
	--pink-800: #801458;
	--pink-900: #570f3e;

	--purple-50: #fdfaff;
	--purple-100: #f9f0ff;
	--purple-200: #f1e5fa;
	--purple-300: #e9d6f5;
	--purple-400: #d6c1e6;
	--purple-500: #9c45e3;
	--purple-600: #8642c2;
	--purple-700: #6e399d;
	--purple-800: #5c2f83;
	--purple-900: #401863;

	// overlays
	--white-overlay-50: rgba(255, 255, 255, 0.09);
	--white-overlay-100: rgba(255, 255, 255, 0.18);
	--white-overlay-200: rgba(255, 255, 255, 0.27);
	--white-overlay-300: rgba(255, 255, 255, 0.36);
	--white-overlay-400: rgba(255, 255, 255, 0.45);
	--white-overlay-500: rgba(255, 255, 255, 0.54);
	--white-overlay-600: rgba(255, 255, 255, 0.63);
	--white-overlay-700: rgba(255, 255, 255, 0.72);
	--white-overlay-800: rgba(255, 255, 255, 0.81);
	--white-overlay-900: rgba(255, 255, 255, 0.9);

	--black-overlay-50: rgba(0, 0, 0, 0.09);
	--black-overlay-100: rgba(0, 0, 0, 0.18);
	--black-overlay-200: rgba(0, 0, 0, 0.27);
	--black-overlay-300: rgba(0, 0, 0, 0.36);
	--black-overlay-400: rgba(0, 0, 0, 0.45);
	--black-overlay-500: rgba(0, 0, 0, 0.54);
	--black-overlay-600: rgba(0, 0, 0, 0.63);
	--black-overlay-700: rgba(0, 0, 0, 0.72);
	--black-overlay-800: rgba(0, 0, 0, 0.81);
	--black-overlay-900: rgba(0, 0, 0, 0.9);

	// gradients
	--linear-black: linear-gradient(
		to bottom,
		rgba(46, 46, 46, 0.18) 0%,
		rgba(36, 36, 36, 0.14) 100%
	);
	--linear-blue: linear-gradient(
		to bottom,
		rgba(17, 142, 245, 0.067) 0%,
		rgba(7, 127, 247, 0.029) 100%
	);
	--angular-white: conic-gradient(rgba(255, 255, 255, 1) 72.38%, rgba(255, 255, 255, 1) 99.87%);
	--angular-black: conic-gradient(rgba(56, 56, 56, 0.22) 72.38%, rgba(56, 56, 56, 0.22) 99.87%);
	--angular-green: conic-gradient(
		rgba(23, 117, 75, 0.092) 72.38%,
		rgba(23, 117, 75, 0.092) 99.87%
	);
	--angular-red: conic-gradient(
		rgba(205, 41, 41, 0.804) 72.38%,
		rgba(205, 41, 41, 0.804) 99.87%
	);
	--angular-blue: conic-gradient(rgba(0, 110, 219, 0) 72.38%, rgba(0, 110, 219, 0) 99.87%);
}
