$check-icon-dark: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
[data-theme="dark"] {
	/*#UPDATES --sevval*/
	#logo-dark, #icon-dark {
		display: block;
	}
	#logo-light, #icon-light {
		display: none;
	}
	/**/
	--neutral: var(--neutral-black);
	--invert-neutral: var(--neutral-white);
	// TODO: Update Pallete for dark mode.
	--gray-700: #383838;
	--gray-800: #232323;

	// Type Colors
	--text-neutral: var(--gray-50);
	--text-dark: var(--traquent-dark-bg);
	--text-muted: var(--gray-400);
	--text-light: var(--gray-300);
	--text-color: var(--gray-50);
	--heading-color: var(--gray-50);

	// SVG Colors
	--icon-fill: transparent;
	--icon-stroke: var(--gray-300);

	// Error colors
	--error-bg: var(--red-800);
	--error-border: var(--red-400);

	// Layout Colors
	//--bg-color: var(--gray-900);
	--bg-second-color: var(--traquent-dark-background);
	--bg-color: var(--traquent-dark-bg);
	--image-card-bg: var(--traquent-dark-background);
	--sidebar-icon: var(--traquent-background-white);
	--fg-color: var(--traquent-dark-bg);
	--subtle-accent: var(--traquent-dark-bg);
	--subtle-fg: var(--traquent-background-dark);
	--fg-hover-color: var(--traquent-dark-background);
	--card-bg: var(--traquent-dark-bg);
	--widget-card-bg: var(--traquent-dark-background);
	--disabled-text-color: var(--gray-400);
	--disabled-control-bg: var(--traquent-dark-background);
	--control-bg: var(--traquent-dark-background);
	--control-bg-on-gray: var(--traquent-dark-background);
	--awesomebar-focus-bg: var(--control-bg);
	--awesomplete-hover-bg: var(--traquent-dark-background);
	--modal-bg: var(--traquent-dark-bg);
	--toast-bg: var(--modal-bg);
	--popover-bg: var(--bg-color);
	--traquent-sidebar-dark: var(--traquent-dark-hover);
	--traquent-sidebar-light: var(--traquent-dark-bg);
	--traquent-sidebar-hover: var(--traquent-dark-background);
	--traquent-sidebar-header: #fff;
	--traquent-sidebar-content: #A4ACB9;
	--traquent-sidebar-logo-bg: var(--traquent-background-white);
	--list-head-bg: var(--traquent-background-dark);
	--traquent-active-border-bottom: #FFFFFF;

	// Button Colors
	//--btn-default-bg: var(--gray-800);
	--btn-default-bg: linear-gradient(0deg, #171B26, #171B26),
	linear-gradient(178.11deg, rgba(255, 255, 255, 0.032) 32.81%, rgba(255, 255, 255, 0) 113.13%);
	--btn-default-boxshadow:0px 1px 2px 0px #1B1C1D7A, 0px 0px 0px 1px #242628;
	
	--btn-default-hover-bg: #2B3447;
	--btn-default-hover-boxshadow: 0px 1px 2px 0px #1B1C1D7A, 0px 0px 0px 1px #242628;
	--btn-default-color: var(--traquent-text-white);
	--btn-default-hover-text: var(--traquent-text-white);
	--btn-default-focus-color: var(--traquent-text-white);
	--btn-default-focus-boxshadow: 0px 0px 0px 1px #171B26, 0px 1px 2px 0px #171B2680;
	--btn-default-active-bg: var(--traquent-dark-checkbox);
	--btn-primary: var(--traquent-lavender-blue-300);
	--btn-primary-hover: var(--traquent-lavender-blue-400);
	--btn-primary-hover-boxshadow: 0px 0px 0px 1px #171B26;
	--btn-primary-boxshadow: 0px 1px 2px 0px #1B1C1D7A;
	--btn-primary-focus: var(--traquent-lavender-blue-700);
	--btn-primary-focus-boxshadow: 0px 0px 0px 1px #171B26, 0px 1px 2px 0px #171B2680;
	--btn-primary-active: 0px 0px 0px 1px #335CFF,0px 0px 0px 2px #FFFFFF99,0px 0px 0px 3px #335CFF80, 0px 1px 2px 0px #335CFF80;
	--btn-disabled: var(--traquent-dark-disabled);
	--btn-primary-border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
	//nav-bottom
	--nav-bottom-background: var(--custom-orange-500);
	--navbar-bg: var(--traquent-navbar-color);

	// Border Colors
	--border-primary: var(--gray-200);

	// Background Text Color Pairs
	--bg-blue: var(--blue-600);
	--bg-light-blue: var(--blue-600);
	--bg-dark-blue: var(--blue-900);
	--bg-green: var(--green-900);
	--bg-yellow: var(--yellow-700);
	--bg-orange: var(--orange-700);
	--bg-red: var(--red-600);
	--bg-gray: var(--gray-600);
	--bg-grey: var(--gray-600);
	--bg-darkgrey: var(--gray-600);
	--bg-dark-gray: var(--gray-500);
	--bg-light-gray: var(--traquent-dark-background);
	--bg-purple: var(--purple-700);
	--bg-pink: var(--pink-700);
	--bg-cyan: var(--cyan-800);

	--text-on-blue: var(--blue-50);
	--text-on-light-blue: var(--blue-50);
	--text-on-dark-blue: var(--blue-300);
	--text-on-green: var(--green-100);
	--text-on-yellow: var(--yellow-50);
	--text-on-orange: var(--orange-100);
	--text-on-red: var(--red-50);
	--text-on-gray: var(--gray-50);
	--text-on-grey: var(--gray-50);
	--text-on-darkgrey: var(--gray-200);
	--text-on-dark-gray: var(--gray-200);
	--text-on-light-gray: var(--gray-100);
	--text-on-purple: var(--purple-100);
	--text-on-pink: var(--pink-100);
	--text-on-cyan: var(--cyan-100);
	--dropdown-text: var(--text-muted);

	// alert colors
	--alert-text-danger: var(--red-300);
	--alert-text-warning: var(--yellow-300);
	--alert-text-info: var(--blue-300);
	--alert-text-success: var(--green-300);

	--alert-bg-danger: var(--traquent-dark-mode-white);
	--alert-bg-danger-boxshadow: var(--traquent-dark-mode-white-boxshadow);
	--alert-bg-warning: var(--traquent-dark-mode-white);
	--alert-bg-warning-boxshadow: var(--traquent-dark-mode-white-boxshadow);
	--alert-bg-info: var(--traquent-dark-mode-grey);
	--alert-bg-info-boxshadow: var(--traquent-dark-mode-grey-boxshadow);
	--alert-bg-success: var(--traquent-dark-mode-grey);
	--alert-bg-success-boxshadow: var(--traquent-dark-mode-grey-boxshadow);
	--traquent-text-color: var(--traquent-text-white);
	--grid-head-text: var(--traquent-icon-subdued-400);

	--sidebar-select-color: var(--gray-800);

	--scrollbar-thumb-color: var(--gray-600);
	--scrollbar-track-color: var(--gray-700);

	--timeline-badge-color: var(--gray-500);
	--timeline-badge-bg: var(--traquent-dark-bg);

	--shadow-inset: var(--fg-color);
	--border-color: var(--traquent-dark-border);
	--border-traquent-color: var(--traquent-dark-border);
	--search-border: var(--stroke-soft-dark);
	--dark-border-color: var(--gray-600);
	--table-border-color: var(--border-color);
	--highlight-color: var(--traquent-dark-background);
	--yellow-highlight-color: var(--yellow-700);

	--btn-group-border-color: var(--gray-700);

	--placeholder-color: var(--gray-700);

	--highlight-shadow: 1px 1px 10px var(--blue-900), 0px 0px 4px var(--blue-500);

	--shadow-base: 0px 4px 8px rgba(114, 176, 233, 0.06), 0px 0px 4px rgba(112, 172, 228, 0.12);

	// "diff" colors
	--diff-added: var(--green-800);
	--diff-removed: var(--red-800);

	// sidebar toggle
	.page-title .sidebar-toggle-btn {
		--icon-stroke: var(--gray-300);
	}

	// input
	--input-disabled-bg: none;
	--input-bg: var(--traquent-background-dark);
	--input-solid: var(--traquent-dark-solid);
	--input-boxshadow: 0px 0px 0px 1px #3838380A;
	--input-boxshadow-hover: 0px 0px 0px 1px #373A4133, 1px 1px 2px 0px #666D803D;
	--input-boxshadow-focus: 0px 0px 0px 3px #335CFF52, 0px 0px 0px 2px #335CFF, 0px 1px 1px 0px #335CFF66;
	--input-placeholder: var(--traquent-neutral-solid-300);
	--input-disabled: var(--traquent-dark-disabled);
	--input-label: var(--traquent-input-label);
	--input-hint: var(--traquent-input-label);


	// checkbox
	--checkbox-color: var(--neutral-white);
	--checkbox-gradient: linear-gradient(
		180deg,
		var(--neutral-white) -124.51%,
		var(--neutral-white) 100%
	);
	--checkbox-disabled-gradient: linear-gradient(
		180deg,
		var(--gray-600) -124.51%,
		var(--gray-600) 100%
	);
	--input-focus: 0px 0px 0px 2px #FFFFFF,0px 0px 0px 3px #171B2680, 0px 0px 0px 1px #171B26, 0px 1px 2px 0px #171B2680;
	--checkbox-focus-shadow: var(--focus-default);
	--checkbox-radio-bg: var(--traquent-dark-checkbox);
	--checkbox-radio-boxshadow: 0px 0px 0px 1px #DFE1E7, 0px 1px 2px 0px #A4ACB966;
	--checkbox-checked-boxshadow: 0px 0px 0px 1px #717171;
	--checkbox-checked-focus: 0px 0px 0px 3px #C8C8C880, 0px 0px 0px 1px #C8C8C8, 0px 0px 0px 2px #FFFFFF, 0px 1px 2px 0px #C8C8C880;
	--checkbox-checked-disabled: var(--traquent-dark-checkbox-disabled);
	--radio-hover: 0px 0px 0px 1px #C1C7D0, 0px 1px 2px 0px #666D8066;
	--radio-focus: 0px 0px 0px 2px #FFFFFF,0px 0px 0px 3px #171B2680, 0px 0px 0px 1px #171B26, 0px 1px 2px 0px #171B2680;
	--radio-checked: var(--traquent-neutral-solid-300);
	--radio-checked-boxshadow: 0px 0px 0px 1px #171B2680, 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 1px #171B26, 0px 1px 2px 0px #171B2680;

	input[type="checkbox"] {
		&:checked {
			background-image: $check-icon-dark, var(--checkbox-gradient);
		}
		&.disabled-selected,
		&:disabled:checked {
			background-image: $check-icon-dark, var(--checkbox-disabled-gradient);
		}
		&.disabled-deselected {
			border: none;
			background-color: var(--gray-700);
		}
	}

	// switch
	--switch-bg: var(--gray-500);

	// date-picker
	--date-active-text: var(--gray-100);
	--date-active-bg: var(--gray-700);
	--date-range-bg: var(--subtle-fg);

	// grid
	.grid-body .editable-row {
		--control-bg: var(--traquent-dark-bg);
		--input-disabled-bg: var(--gray-800);
	}
	color-scheme: dark;

	.traquent-card {
		.btn-default {
			background-color: var(--control-bg);

			&:hover {
				background-color: var(--fg-hover-color);
			}
		}
	}

	.modal,
	.form-in-grid {
		--control-bg: var(--gray-800);
		--border-color: var(--gray-800);
	}

	.print-format {
		--text-color: var(--traquent-dark-bg);
		--border-color: var(--gray-100);
	}

	.ql-editor {
		color: var(--text-on-gray);
		&.read-mode {
			span:not(.mention),
			p,
			u,
			strong {
				background-color: inherit !important;
				color: inherit !important;
			}
		}
	}
	.comment-input-wrapper .ql-editor.ql-blank::before {
		color: var(--text-color);
	}
	// --appreciation-color: var(--dark-green-100);
	// --appreciation-bg: var(--dark-green-600);
	// --criticism-color: var(--red-100);
	// --criticism-bg: var(--red-600);

	// traquent Charts Colors
	.chart-container {
		--charts-label-color: var(--gray-300);
		--charts-axis-line-color: var(--subtle-fg);

		--charts-stroke-width: 5px;
		--charts-dataset-circle-stroke: #ffffff;
		--charts-dataset-circle-stroke-width: var(--charts-stroke-width);

		--charts-tooltip-title: var(--charts-label-color);
		--charts-tooltip-label: var(--charts-label-color);
		--charts-tooltip-value: white;
		--charts-tooltip-bg: var(--traquent-dark-bg);

		--charts-legend-label: var(--charts-label-color);
	}

	// find better fix
	.heatmap-chart {
		g > rect[fill="#ebedf0"] {
			fill: var(--gray-700);
		}
	}

	.rating {
		// rating
		--star-fill: var(--gray-500);
		.star-hover {
			--star-fill: var(--gray-400);
		}
	}

	// skeleton
	--skeleton-bg: var(--gray-800);

	--right-arrow-svg: url("data: image/svg+xml;utf8, <svg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.25 7.5L4.75 4L1.25 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/></svg>");

	--left-arrow-svg: url("data: image/svg+xml;utf8, <svg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M7.5 9.5L4 6l3.5-3.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'></path></svg>");

	::selection {
		color: var(--text-color);
		background: var(--gray-500);
	}

	$indicator-colors: green, cyan, blue, orange, yellow, gray, grey, red, pink, darkgrey, purple,
		light-blue;
	@each $color in $indicator-colors {
		.indicator {
			--indicator-dot-#{"" + $color}: var(--bg-#{$color});
		}
	}
}
