.form-control {//traquent.v1.sevval//
	border-radius: var(--traquent-radius);
	height: var(--traquent-input-height);
	background: var(--input-bg) !important;
	padding: 6px 8px;
	//border: 1px solid var(--input-solid);
	border: none;//traquent.v1.sevval//
	box-shadow: var(--input-boxshadow) !important;
	&:hover{
		box-shadow: var(--input-boxshadow-hover) !important;

	}
	&:focus{
		background: var(--input-bg)  !important;
		border: none !important;
		box-shadow: 
			var(--input-boxshadow-focus) !important; 
		&::placeholder {
			color: var(--input-placeholder) !important; /* Placeholder metni rengi */
		}
	}
	&:not(:placeholder-shown) {
		color: var(--input-placeholder);
		box-shadow: 0px 0px 0px 1px #09194821, 0px 1px 2px 0px #12376914;
	}
}//****************/


.form-control.bold {
	font-weight: var(--weight-medium);
}

.like-disabled-input {
	.for-description {
		@include get_textstyle("sm", "regular");
	}
	min-height: var(--input-height);
	border-radius: var(--border-radius-sm);
	padding: 8px 8px;//traquent.v1.sevval//
	cursor: default;
	@include traquent-text("body", "s", "regular");//traquent.v1.sevval//
	//color: var(--disabled-text-color);
	//background-color: var(--disabled-control-bg);
	color: var(--traquent-text-disabled-300);//traquent.v1.sevval//
	background-color: var(--input-disabled);//traquent.v1.sevval//
}

.head-title {
	font-size: var(--text-xl);
	font-weight: 700;
	color: var(--heading-color);
}
