{% extends "templates/web.html" %}

{% block title %} {{_("Reset Password")}} {% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block head_include %}{% endblock %}
{% block page_content %}

<style>
	body {
		background-color: var(--subtle-fg);
		font-size: var(--text-base);
	}
</style>

<div class="portal-container">
	<div class="portal-section head">
		<svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="88" height="88" rx="44" fill="#FEF3EB"/>
			<path d="M61.999 43.6062C59.7111 42.2842 57.0509 41.7542 54.431 42.0986C51.8111 42.443 49.3782 43.6425 47.5097 45.511C45.6413 47.3794 44.4418 49.8124 44.0974 52.4322C43.753 55.0521 44.2829 57.7124 45.605 60.0002H23.999C23.4686 60.0002 22.9599 59.7895 22.5848 59.4145C22.2097 59.0394 21.999 58.5307 21.999 58.0002V26.0002C21.999 25.4698 22.2097 24.9611 22.5848 24.586C22.9599 24.211 23.4686 24.0002 23.999 24.0002H59.999C60.5295 24.0002 61.0382 24.211 61.4132 24.586C61.7883 24.9611 61.999 25.4698 61.999 26.0002V43.6062ZM42.119 41.3662L29.295 30.4762L26.705 33.5242L42.145 46.6342L57.307 33.5142L54.691 30.4882L42.121 41.3662H42.119ZM57.999 54.0002H63.999L55.999 62.0002L47.999 54.0002H53.999V46.0002H57.999V54.0002Z" fill="#F17B2C"/>
		</svg>
		<div class="title">{{ _("Reset Password") if traquent.db.get_default('company') else _("Set Password")}}</div>
	</div>
	<div class="portal-section pb-0">
		<form id="reset-password" style="width: 100%">
			<div class="form-group">
				<label class="form-label" for="old_password">{{ _('Old Password') }}</label>
				<input id="old_password" type="password"
					class="form-control mb-4" placeholder="{{ _('Old Password') }}" autocomplete="current-password">
				<span toggle="#login_password" class="toggle-password text-muted">
					<!-- {{ _('Show') }} -->
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.425 4.18002C8.94125 4.05918 9.4698 3.99877 10 4.00002C15.25 4.00002 18.25 10 18.25 10C17.7947 10.8517 17.2518 11.6536 16.63 12.3925M11.59 11.59C11.384 11.8111 11.1356 11.9884 10.8596 12.1114C10.5836 12.2343 10.2857 12.3005 9.98357 12.3058C9.68146 12.3111 9.38137 12.2555 9.10121 12.1424C8.82104 12.0292 8.56654 11.8608 8.35288 11.6471C8.13923 11.4335 7.97079 11.179 7.85763 10.8988C7.74447 10.6186 7.68889 10.3186 7.69423 10.0165C7.69956 9.71434 7.76568 9.4164 7.88866 9.1404C8.01163 8.86441 8.18894 8.61601 8.41 8.41002M14.455 14.455C13.1729 15.4323 11.6118 15.9737 10 16C4.75 16 1.75 10 1.75 10C2.68292 8.26144 3.97685 6.74247 5.545 5.54502L14.455 14.455Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.75 1.75L18.25 18.25" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</span>
			</div>
			<div class="form-group">
				<label class="form-label" for="new_password">{{ _('New Password') }}</label>
				<input id="new_password" type="password"
					class="form-control mb-4" placeholder="{{ _('New Password') }}" autocomplete="new-password">
				<span class="password-strength-indicator indicator"></span>
				<span toggle="#login_password" class="toggle-password text-muted">
					<!-- {{ _('Show') }} -->
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.425 4.18002C8.94125 4.05918 9.4698 3.99877 10 4.00002C15.25 4.00002 18.25 10 18.25 10C17.7947 10.8517 17.2518 11.6536 16.63 12.3925M11.59 11.59C11.384 11.8111 11.1356 11.9884 10.8596 12.1114C10.5836 12.2343 10.2857 12.3005 9.98357 12.3058C9.68146 12.3111 9.38137 12.2555 9.10121 12.1424C8.82104 12.0292 8.56654 11.8608 8.35288 11.6471C8.13923 11.4335 7.97079 11.179 7.85763 10.8988C7.74447 10.6186 7.68889 10.3186 7.69423 10.0165C7.69956 9.71434 7.76568 9.4164 7.88866 9.1404C8.01163 8.86441 8.18894 8.61601 8.41 8.41002M14.455 14.455C13.1729 15.4323 11.6118 15.9737 10 16C4.75 16 1.75 10 1.75 10C2.68292 8.26144 3.97685 6.74247 5.545 5.54502L14.455 14.455Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.75 1.75L18.25 18.25" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</span>
			</div>
			<div class="form-group">
				<label class="form-label" for="confirm_password">{{ _('Confirm Password') }}</label>
				<input id="confirm_password" type="password"
					class="form-control mb-4" placeholder="{{ _('Confirm Password') }}" autocomplete="new-password">
				<span toggle="#login_password" class="toggle-password text-muted">
					<!-- {{ _('Show') }} -->
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.425 4.18002C8.94125 4.05918 9.4698 3.99877 10 4.00002C15.25 4.00002 18.25 10 18.25 10C17.7947 10.8517 17.2518 11.6536 16.63 12.3925M11.59 11.59C11.384 11.8111 11.1356 11.9884 10.8596 12.1114C10.5836 12.2343 10.2857 12.3005 9.98357 12.3058C9.68146 12.3111 9.38137 12.2555 9.10121 12.1424C8.82104 12.0292 8.56654 11.8608 8.35288 11.6471C8.13923 11.4335 7.97079 11.179 7.85763 10.8988C7.74447 10.6186 7.68889 10.3186 7.69423 10.0165C7.69956 9.71434 7.76568 9.4164 7.88866 9.1404C8.01163 8.86441 8.18894 8.61601 8.41 8.41002M14.455 14.455C13.1729 15.4323 11.6118 15.9737 10 16C4.75 16 1.75 10 1.75 10C2.68292 8.26144 3.97685 6.74247 5.545 5.54502L14.455 14.455Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.75 1.75L18.25 18.25" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</span>
			</div>
			<p class="password-mismatch-message text-muted small hidden mt-2"></p>
			<p class='password-strength-message text-muted small mt-2 hidden'></p>
			<button type="submit" id="update" disabled = true style="cursor: not-allowed;"
				class="btn btn-primary btn-block btn-update">{{_("Confirm")}}</button>
		</form>
		{%- if not disable_signup -%}
			<div class="text-center sign-up-message">
				{{ _("Don't have an account?") }}
				<a href="/login#signup">{{ _("Sign up") }}</a>
			</div>
		{%- endif -%}
	</div>
</div>

<script>

traquent.ready(function() {
	// URL args
	const key = traquent.utils.get_url_arg('key');
	const password_expired = traquent.utils.get_url_arg('password_expired');
	// inputs, paragraphs and button elements
	const old_password = $('#old_password');
	const new_password = $('#new_password');
	const confirm_password = $('#confirm_password');
	const update_button = $('#update');
	const password_strength_indicator = $('.password-strength-indicator');
	const password_strength_message =$('.password-strength-message');
	const password_mismatch_message = $('.password-mismatch-message');
	// Info text
	const password_not_same_as_old_password = "{{ _('New password cannot be same as old password') }}";
	const password_mismatch = "{{ _('Passwords do not match') }}";
	const password_strength_message_success = "{{ _('Success! You are good to go 👍') }}";

	// Toggle password visibility functionality
	$(".toggle-password").click(function () {
		var input = $(this).siblings("input");
		console.log("input", input)
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			// 'göz kapalı' ikonunu ayarla
			$(this).html('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.75 10C1.75 10 4.75 4 10 4C15.25 4 18.25 10 18.25 10C18.25 10 15.25 16 10 16C4.75 16 1.75 10 1.75 10Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 12.25C11.2426 12.25 12.25 11.2426 12.25 10C12.25 8.75736 11.2426 7.75 10 7.75C8.75736 7.75 7.75 8.75736 7.75 10C7.75 11.2426 8.75736 12.25 10 12.25Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		} else {
			input.attr("type", "password");
			// 'göz açık' ikonunu ayarla
			$(this).html('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.425 4.18002C8.94125 4.05918 9.4698 3.99877 10 4.00002C15.25 4.00002 18.25 10 18.25 10C17.7947 10.8517 17.2518 11.6536 16.63 12.3925M11.59 11.59C11.384 11.8111 11.1356 11.9884 10.8596 12.1114C10.5836 12.2343 10.2857 12.3005 9.98357 12.3058C9.68146 12.3111 9.38137 12.2555 9.10121 12.1424C8.82104 12.0292 8.56654 11.8608 8.35288 11.6471C8.13923 11.4335 7.97079 11.179 7.85763 10.8988C7.74447 10.6186 7.68889 10.3186 7.69423 10.0165C7.69956 9.71434 7.76568 9.4164 7.88866 9.1404C8.01163 8.86441 8.18894 8.61601 8.41 8.41002M14.455 14.455C13.1729 15.4323 11.6118 15.9737 10 16C4.75 16 1.75 10 1.75 10C2.68292 8.26144 3.97685 6.74247 5.545 5.54502L14.455 14.455Z" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M1.75 1.75L18.25 18.25" stroke="#818898" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		}
	});
	if(key) {
		old_password.parent().toggle();
	}

	if(password_expired) {
		$(".password-box").html("{{ _('The password of your account has expired.') }}");
	}

	$("#reset-password").on("submit", function() {
		return false;
	});

	new_password.on("keypress", function(e) {
		if(e.which===13) update_button.click();
	})

	update_button.click(function() {
		var args = {
			key: key || "",
			old_password: old_password.val(),
			new_password: new_password.val(),
			confirm_password: confirm_password.val(),
			logout_all_sessions: 1
		}
		if (!args.old_password && !args.key) {
			traquent.msgprint({
				title: "{{ _('Missing Value') }}",
				message: "{{ _('Please enter your old password.') }}",
				clear: true
			});
		}
		if (!args.new_password) {
			traquent.msgprint({
				title: "{{ _('Missing Value') }}",
				message: "{{ _('Please enter your new password.') }}",
				clear: true
			});
		}
		if (args.old_password === args.new_password) {
			traquent.msgprint({
				title: "{{ _('Invalid Password') }}",
				message: password_not_same_as_old_password,
			});
			password_strength_message.addClass('hidden');
			return;
		}

		if (args.new_password !== args.confirm_password) {
			password_mismatch_message.text(password_mismatch)
				.removeClass('hidden text-muted').addClass('text-danger');
			password_strength_message.addClass('hidden');
			return;
		}

		traquent.call({
			type: "POST",
			method: "traquent.core.doctype.user.user.update_password",
			btn: update_button,
			args: args,
			statusCode: {
				401: function() {
					$(".page-card-head .reset-password-heading").text("{{ _('Invalid Password') }}");
					traquent.msgprint({
						title: "{{ _('Invalid Password') }}",
						message: "{{ _('Your old password is incorrect.') }}",
						// clear any server message
						clear: true
					});
				},
				410: function({ responseJSON }) {
					const title = "{{ _('Invalid Link') }}";
					const message = responseJSON.message;
					$(".page-card-head .reset-password-heading").text(title);
					traquent.msgprint({ title: title, message: message, clear: true });
				},
				200: function(r) {
					$("input").val("");
					strength_indicator.addClass("hidden");
					strength_message.addClass("hidden");
					$(".page-card-head .reset-password-heading")
						.html("{{ _('Status Updated') }}");
					if(r.message) {
						traquent.msgprint({
							title: "{{ _('Password set') }}",
							message: "{{ _('Your new password has been set successfully.') }}",
							// password is updated successfully
							// clear any server message
							clear: true
						});
						setTimeout(function() {
							window.location.href = r.message;
						}, 2000);
					}
				}
			}
		});

		return false;
	});

	window.strength_indicator = password_strength_indicator;
	window.strength_message = password_strength_message;

	new_password.on('keyup', function() {
		window.clear_timeout();
		window.timout_password_strength = setTimeout(window.test_password_strength, 200);
	});

	$("#old_password, #new_password, #confirm_password").on("keyup paste", traquent.utils.debounce(function () {
		let common_conditions = new_password.val() && confirm_password.val() && new_password.val() === confirm_password.val()

		if (new_password.val() && old_password.val() === new_password.val()) {
			password_mismatch_message.text(password_not_same_as_old_password)
				.removeClass("hidden text-muted").addClass("text-danger");

			password_strength_message.addClass("hidden");
		}
		if ((new_password.val() || old_password.val) && old_password.val() !== new_password.val()) {
			password_mismatch_message.addClass("hidden");
			password_strength_message.removeClass("hidden");
			password_mismatch_message.text('')
		}

		if (new_password.val() === confirm_password.val() && old_password.val() !== new_password.val() ) {
			password_mismatch_message.addClass("hidden");
			password_strength_message.removeClass("hidden");
		}
		if (confirm_password.val() &&  new_password.val() !== confirm_password.val()) {
			password_mismatch_message.text(password_mismatch)
				.removeClass("hidden text-muted").addClass("text-danger");
			password_strength_message.addClass("hidden");
		}
		if ((key || (!key && old_password.val() )) && common_conditions ) {
			update_button.prop("disabled", false).css("cursor", "pointer");
		}
		else {
			update_button.prop("disabled", true).css("cursor", "not-allowed");
		}
		},500)
	)

	window.test_password_strength = function() {
		window.timout_password_strength = null;

		var args = {
			key: key || "",
			old_password: old_password.val(),
			new_password: new_password.val()
		}

		if (!args.new_password) {
			set_strength_indicator('grey', {'warning': "{{ _('Please enter the password') }}" });
			return;
		}

		return traquent.call({
			method: 'traquent.core.doctype.user.user.test_password_strength',
			args: args,
			callback: function(r) {
				console.log(r.message);
			},
			statusCode: {
				401: function() {
					$('.page-card-head .reset-password-heading')
						.text("{{ _('Invalid Password') }}");
				},
				200: function(r) {
					if (r.message) {
						var score = r.message.score,
							feedback = r.message.feedback;

						if (!feedback) {
							return;
						}

						feedback.score = score;

						if (feedback.password_policy_validation_passed) {
							set_strength_indicator('green', feedback);
						}else{
							set_strength_indicator('red', feedback);
						}
					}
				}
			}

		});
	};

	window.set_strength_indicator = function(color, feedback) {
		var message = [];
		feedback.help_msg = "";
		if(!feedback.password_policy_validation_passed){
			feedback.help_msg = "<br>" + "{{ _('Hint: Include symbols, numbers and capital letters in the password') }}";
		}
		if (feedback) {
			if(!feedback.password_policy_validation_passed){
				if (feedback.suggestions && feedback.suggestions.length) {
					message = message.concat(feedback.suggestions);
				} else if (feedback.warning) {
					message.push(feedback.warning);
				}
				message.push(feedback.help_msg);

			} else {
				message.push(password_strength_message_success);
			}
		}
		password_mismatch_message.addClass('hidden');

		strength_message.html(message.join(' ') || '').removeClass('hidden');
	}

	window.clear_timeout = function() {
		if (window.timout_password_strength) {
			clearTimeout(window.timout_password_strength);
			window.timout_password_strength = null;
		}
	};
});

</script>

{% endblock %}

{% block style %}
<style>
	body {
		background-color: var(--bg-color);
	}

	.password-strength-indicator {
		float: right;
		padding: 15px;
		margin-top: -38px;
		margin-right: -7px;
	}

	.password-strength-message {
		margin-top: -10px;
	}
	{% include "templates/styles/card_style.css" %}
</style>
{% endblock %}
