input[type="radio"] {
	position: relative;
	width: var(--checkbox-size) !important;
	height: var(--checkbox-size);
	margin-right: 8px !important;
	font-size: calc(var(--checkbox-size) - 1px);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

	background: var(--checkbox-radio-bg);//traquent.v1.sevval//
	box-shadow: var(--checkbox-radio-boxshadow);//traquent.v1.sevval//


	// Reset browser behavior
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	//traquent.v1.sevval//
	&:hover{
		box-shadow: var(--radio-hover);
	}//***********/

	&:focus {
		outline: none;
		box-shadow: var(--radio-focus) !important;		
	}//traquent.v1.sevval//
	&:checked{
		background-color: var(--radio-checked);
		box-shadow:  var(--radio-checked-boxshadow);
	}
	&:disabled:checked {
		background-color: var(--traquent-background-disabled) !important;	
		border: 1px solid vsr(--traquent-background-hover-50);
	}//***********/
	
	&:before {
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		position: absolute;
		content: " ";
		border: 1px solid var(--gray-400);
		border-radius: 16px;
	}//traquent.v1.sevval//
	&:disabled::before {
		background-color: var(--traquent-background-pressed-100);
	}//***********/

	&:checked::before {
		background-color: var(--traquent-background-white);//traquent.v1.sevval//
		border-radius: 16px;
		//box-shadow: inset 0 0 0 2px white;
		box-shadow: 0px 1px 2px 0px #4C24A399;//traquent.v1.sevval//

	}
}
