@import "frappe/public/css/fonts/fontawesome/font-awesome.min.css";
@import "frappe/public/css/octicons/octicons.css";
@import "frappe/public/css/fonts/inter/inter.scss";
@import "~frappe-charts/dist/frappe-charts.min";
@import "~plyr/dist/plyr";
@import "./desk/index";

@import "frappe/public/js/lib/leaflet/leaflet.css";
@import "frappe/public/js/lib/leaflet_easy_button/easy-button.css";
@import "frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.css";
@import "frappe/public/js/lib/leaflet_draw/leaflet.draw.css";
/*#UPDATES --sevval*/
@font-face {
	font-family: 'Manrope';
	src: url('/assets/frappe/css/fonts/manrope/Manrope-VariableFont_wght.ttf') format('tff');
	font-weight: normal;
	font-style: normal;
  }
body {
	/*font-family: "Roboto", sans-serif !important;*/
	font-family: "Manrope", sans-serif !important;
}
/**/
[data-page-route=Workspaces] .layout-main {
	max-width: none !important;
  
}
[data-page-route=Workspaces]  .page-head .container{
  max-width: none !important;
}
.navbar {
    .container {
      .body-sidebar-top {
        display: flex;
      }
  
      .sidebar-items {
        display: flex;
        margin-left: 15px;
      }
  
      .standard-sidebar-section.nested-container {
        display: flex;
        align-items: center;
      }
  
      .sidebar-item-container {
        position: relative;
        margin-right: 10px;/*UPDATES --sevval*/
  
        &:hover .sidebar-child-item,
        .sidebar-child-item:hover {
          display: block;
        }
        .sidebar-child-item {
          display: none; /* Varsayılan olarak gizle */
  
          &.nested-container .sidebar-item-container {
            position: absolute;
            left: 20px;
            top: 20px;
            border: 1px solid var(--border-color);
            background: var(--navbar-bg);
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
      }
  
      .standard-sidebar-item {
        display: flex;
  
        a {
          display: flex;
  
          .sidebar-item-icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
  
  .nav-bottom {
    .navbar-nav {
      flex-direction: row;
      
    }
  
    ul {
      padding: 10px 15px;
      background: var(--nav-bottom-background);
    }
    ul#navbar-breadcrumbs{
        max-width: none !important;
    }
  }
  
#body{
    // margin-left: 174px;
    // max-width: calc(100% - 200px) !important;
    padding: 20px;
}
// [data-page-route=Workspaces] .layout-main-section {
//     background-color: #fff;
// }